.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  min-height: 55px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background-color: var(--accent-color);
  color:var(--text-secondary);
  transition: background-color 0.2s ease;
  opacity: 1;
}

.button:hover {
  background-color: var(--accent-light-color);
}

.button:disabled {
  background-color: var(--accent-light-color);
  cursor: not-allowed;
  pointer-events: none;
}
