.productCard {
  background-color: var(--background-light-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 298px;
  width: 100%;
  height: 100%;
}
.img {
  max-width: 298px;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.productInformation {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex: 1;
  margin: 15px;
  font-size: 14px;
}

.title {
  font-size: 18px;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: column;
  margin: 0px  15px 15px 15px;
}
